$lightBlue: #52cedf;
$textBlue: #a4e2ea;
$darkBlue: #327580;
$white: #fff;
$lightGray: #fcfbfb;
$middleGray: #f0f0f0;
$darkGray: #7a7979;
$black: #000;

$pacifico: 'pacificoregular',sans-serif;
$open: 'Open Sans',sans-serif;