body.single {
	.post-wrapper {
		margin-left: 240px;
		height: 100%;
		position: relative;
		.post-container {
			width: 90%;
			max-width: 768px;
			margin: auto;
			max-height: 768px;
			height: 90%;
			background: $white;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			box-shadow: 11px 11px 21px 0px rgba(0,0,0,0.18);
			.post-thumbnail {
				float: left;
				width: 40%;
				height: 100%;
				overflow: hidden;
				img {
					height: 100%;
				}
			}
			.post-content  {
				float: left;
				width: 60%;
				overflow:auto;
				.post-header {
					background-color: $darkerBlue;
					color: $white;
					padding: 40px;
					font-size: 24px;
					height: 20%;
					h3 {
						font-family: $open;
						text-transform: uppercase;
					}
					.post-infos {
						font-size: 12px;
						color: $darkBlue;
						font-family: $open;
						margin-top: 10px;
						span.upvote-btn {
							display: inline-block;
							margin-right: 20px;
							cursor: pointer;
							&:before {
								font-family: 'icons';
								display: inline-block;
								margin-right: 5px;
								@extend .icon_it-works:before;
							}
							span {
								font-weight: 700;
							}
							&:hover, &.active {
								color: $textBlue;
							}
						}
						span.share {
							display: inline-block;
							cursor: pointer;
							&:before {
								font-family: 'icons';
								display: inline-block;
								margin-right: 5px;
								@extend .icon_share:before;
							}
							&:hover {
								color: $textBlue;
							}
						}
					}
				}
				.entry-content {
					font-family: $open;
					overflow-y: scroll;
					height: 80%;
					padding: 40px;
					font-size: 14px;
					line-height: 21px;
					h4 {
						color: $darkerBlue;
						font-weight: 700;
						font-size: 20px;
						padding: 20px 0 10px 0;
					}
				}
			}
		}
	}
}